Repository canonical/prompting-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-prompting-client, rust-clippy-prompting-client, rust-fmt-mock-server, rust-clippy-mock-server, flutter-analyze, flutter-format

rust-fmt-prompting-client:
  name: Format Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-prompting-client:
  name: Lint Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-mock-server:
  name: Format Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-mock-server:
  name: Lint Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Analyze Flutter code
  entry: bash -c 'melos analyze --fatal-infos'
  language: system
  pass_filenames: false

flutter-format:
  name: Format Flutter code
  entry: bash -c 'melos run format:exclude'
  language: system
  pass_filenames: false

fix: update path constraints in prompt sequence tests and improve ScriptedClient initialization
  prompting-client/resources/prompt-sequence-tests/e2e_unexpected_additional_prompt_test.json
  prompting-client/resources/prompt-sequence-tests/e2e_write_test.json
  prompting-client/resources/prompt-sequence-tests/sequence_with_top_level_filter_and_vars.json
  prompting-client/src/cli_actions/scripted.rs
  prompting-client/src/prompt_sequence.rs
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: integration tests for vm run
  Makefile
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: ensure process cleanup and add wait in scripted client test
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: bold prompt titles, font spacing in a const
  flutter/apps/prompting_client_ui/lib/pages/camera/camera_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/pages/microphone/microphone_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/tile_constants.dart
Due: flutter-analyze, flutter-format

fix: padding is 24 on all sides
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
Due: flutter-analyze, flutter-format

fix: split action buttons are grey, not green
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
Due: flutter-analyze, flutter-format

fix: default window width to 372
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
  flutter/apps/prompting_client_ui/linux/my_application.cc
Due: flutter-analyze, flutter-format

fix: improve cleanup of pending prompts in integration tests
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: `TOKIO_WORKER_THREADS` type in `snapcraft.yaml`
  snap/snapcraft.yaml
Due: none

refactor: move to using a navigator to push and pop pages
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_prompt_data_model.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_standard_page.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_header.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_pattern_options.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/lib/widgets/themed_page_route.dart
Due: flutter-analyze, flutter-format

fix: move permissions to trailing widget row in permission widget
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
Due: flutter-analyze, flutter-format

fix: right align menu popup for permissions menu
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
Due: flutter-analyze, flutter-format

fix: use filled button for saving custom path
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
Due: flutter-analyze, flutter-format

fix: custom path pattern page text -> body medium
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
Due: flutter-analyze, flutter-format

fix: selecting option from more options navigates to first page again, with new option in inital list
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_prompt_data_model.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_pattern_options.dart
Due: flutter-analyze, flutter-format

fix: shrink metadata button to reduce left margin, add spacing above
  flutter/apps/prompting_client_ui/lib/pages/home/home_standard_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_header.dart
Due: flutter-analyze, flutter-format

fix: chevron icons and sizes
  flutter/apps/prompting_client_ui/lib/pages/home/home_standard_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
Due: flutter-analyze, flutter-format

fix: mic and camera tests
  flutter/apps/prompting_client_ui/test/camera/camera_prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/microphone/microphone_prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/test_utils.dart
Due: flutter-analyze, flutter-format

fix: home prompt details test
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: missing metadata test
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: submit prompt reply tests
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

test: home prompt action buttons
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: show error message tests
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

test: test new home prompt page flows
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

style: run the linter and formatter
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/lib/widgets/iterable_extensions.dart
  flutter/apps/prompting_client_ui/lib/widgets/prompting_list_tile.dart
  flutter/apps/prompting_client_ui/test/camera/camera_prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/microphone/microphone_prompt_page_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
Due: flutter-analyze, flutter-format

style: move magic numbers into const, all const into theme.dart
  flutter/apps/prompting_client_ui/lib/pages/camera/camera_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_standard_page.dart
  flutter/apps/prompting_client_ui/lib/pages/microphone/microphone_prompt_page.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/lib/widgets/prompting_list_tile.dart
  flutter/apps/prompting_client_ui/lib/widgets/tile_constants.dart
Due: flutter-analyze, flutter-format

fix: add publisher_verified to test cases
  prompting-client/src/daemon/server.rs
  prompting-client/src/snapd_client/interfaces/home.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: flutter integration tests updated to new ui
  flutter/apps/prompting_client_ui/integration_test/apparmor_prompt_test.dart
  flutter/apps/prompting_client_ui/test/test_utils.dart
Due: flutter-analyze, flutter-format

fix: use a filled button for open in app store
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
Due: flutter-analyze, flutter-format

fix: rename filter to prompt filter
  prompting-client/src/prompt_sequence.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

refactor: ordering test functions alphabetically
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

test: add scripted client timeout
  prompting-client/src/bin/scripted.rs
  prompting-client/src/cli_actions/scripted.rs
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: multiple small ux tweaks
  flutter/apps/prompting_client_ui/integration_test/apparmor_prompt_test.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: increase sleep duration in tests and adjust prompt cleanup iterations
  prompting-client/resources/scripted-tests/happy-path-read/test.sh
  prompting-client/src/cli_actions/scripted.rs
  prompting-client/src/prompt_sequence.rs
  prompting-client/tests/integration.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix(test): increase sleep duration in test script to ensure client readiness
  prompting-client/resources/scripted-tests/happy-path-read/test.sh
Due: none

fix: increase timeout duration for scripted client
  prompting-client/src/bin/scripted.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: multiple small ux tweaks
  flutter/apps/prompting_client_ui/lib/pages/home/home_custom_path_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_metadata_page.dart
  flutter/apps/prompting_client_ui/lib/pages/home/home_more_options_page.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
  flutter/apps/prompting_client_ui/test/home/home_prompt_page_test.dart
Due: flutter-analyze, flutter-format

refactor: reset visibility of seq in ScriptedClient and add comment on deserialize_interface function
  prompting-client/src/cli_actions/scripted.rs
  prompting-client/src/prompt_sequence.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

Path conditions:
  rust-fmt-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-clippy-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-fmt-mock-server: any of: ^mock-server/.*\.rs$
  rust-clippy-mock-server: any of: ^mock-server/.*\.rs$
  flutter-analyze: any of: ^flutter/.*\.dart$
  flutter-format: any of: ^flutter/.*\.dart$
