Repository canonical/prompting-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-prompting-client, rust-clippy-prompting-client, rust-fmt-mock-server, rust-clippy-mock-server, flutter-analyze, flutter-format

.pre-commit-config.yaml:

# Pre-commit hooks configuration for prompting-client
# Run `pre-commit install` to set up the git hook scripts
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-symlinks
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
        exclude: '.+\.(dart|rs)'
      - id: destroyed-symlinks
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .fvmrc

  # Rust checks for prompting-client
  - repo: local
    hooks:
      - id: rust-fmt-prompting-client
        name: Format Rust code (prompting-client)
        entry: bash -c 'cd prompting-client && cargo fmt --all -- --check'
        language: system
        files: ^prompting-client/.*\.rs$
        pass_filenames: false

      - id: rust-clippy-prompting-client
        name: Lint Rust code (prompting-client)
        entry: bash -c 'cd prompting-client && cargo clippy --all-features -- -D warnings'
        language: system
        files: ^prompting-client/.*\.rs$
        pass_filenames: false

  # Rust checks for mock-server
  - repo: local
    hooks:
      - id: rust-fmt-mock-server
        name: Format Rust code (mock-server)
        entry: bash -c 'cd mock-server && cargo fmt --all -- --check'
        language: system
        files: ^mock-server/.*\.rs$
        pass_filenames: false

      - id: rust-clippy-mock-server
        name: Lint Rust code (mock-server)
        entry: bash -c 'cd mock-server && cargo clippy -- -D warnings'
        language: system
        files: ^mock-server/.*\.rs$
        pass_filenames: false

  # Flutter/Dart checks using Melos
  - repo: local
    hooks:
      - id: flutter-analyze
        name: Analyze Flutter code
        entry: bash -c 'melos analyze --fatal-infos'
        language: system
        files: ^flutter/.*\.dart$
        pass_filenames: false

      - id: flutter-format
        name: Format Flutter code
        entry: bash -c 'melos run format:exclude'
        language: system
        files: ^flutter/.*\.dart$
        pass_filenames: false

  # Protocol Buffers
  - repo: https://github.com/bufbuild/buf
    rev: v1.28.1
    hooks:
      - id: buf-format
        files: ^protos/.*\.proto$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        files: \.(md|markdown)$

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ["-d", "relaxed"]

test: add integration tests for mock-server
  .github/workflows/rust.yml
  mock-server/README.md
  mock-server/src/main.rs
  prompting-client/Cargo.toml
  prompting-client/tests/integration.rs
  prompting-client/tests/mock_server.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client, rust-fmt-mock-server, rust-clippy-mock-server

refactor: improve path handling in mock server tests
  prompting-client/tests/mock_server.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: move auto-reply code to process_next_pending_prompts
  prompting-client/src/daemon/worker.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

refactor: move static variables inside functions
  prompting-client/tests/mock_server.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: exit with failure if a task ends
  prompting-client/src/daemon/mod.rs
  prompting-client/src/daemon/poll.rs
  prompting-client/src/lib.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

refactor: encapsulate mock server setup in TestFixture struct
  prompting-client/tests/mock_server.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

feat: check if prompting is enabled on poll timeout
  prompting-client/src/daemon/poll.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: make window resizing more consistent
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
Due: flutter-analyze, flutter-format

docs: add mock server support for new Snapd interface
  docs/adding-support-for-new-interfaces.md
Due: none

fix(l10n): translated using Weblate (Tamil)
  flutter/apps/prompting_client_ui/lib/l10n/app_ta.arb
Due: none

fix(l10n): translated using Weblate (Greek)
  flutter/apps/prompting_client_ui/lib/l10n/app_el.arb
Due: none

fix(l10n): translated using Weblate (Dutch)
  flutter/apps/prompting_client_ui/lib/l10n/app_nl.arb
Due: none

fix(l10n): translated using Weblate (Finnish)
  flutter/apps/prompting_client_ui/lib/l10n/app_fi.arb
Due: none

fix(l10n): translated using Weblate (Turkish)
  flutter/apps/prompting_client_ui/lib/l10n/app_tr.arb
Due: none

fix(l10n): translated using Weblate (Catalan)
  flutter/apps/prompting_client_ui/lib/l10n/app_ca.arb
Due: none

fix(l10n): translated using Weblate (Portuguese)
  flutter/apps/prompting_client_ui/lib/l10n/app_pt.arb
Due: none

fix(l10n): translated using Weblate (Russian)
  flutter/apps/prompting_client_ui/lib/l10n/app_ru.arb
Due: none

fix(l10n): translated using Weblate (Czech)
  flutter/apps/prompting_client_ui/lib/l10n/app_cs.arb
Due: none

fix(l10n): translated using Weblate (Persian)
  flutter/apps/prompting_client_ui/lib/l10n/app_fa.arb
Due: none

docs: add new interface instructions
  docs/adding-support-for-new-interfaces.md
Due: none

refactor: formatted docs
  docs/adding-support-for-new-interfaces.md
Due: none
