Repository canonical/prompting-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-prompting-client, rust-clippy-prompting-client, rust-fmt-mock-server, rust-clippy-mock-server, flutter-analyze, flutter-format

rust-fmt-prompting-client:
  name: Format Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-prompting-client:
  name: Lint Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-mock-server:
  name: Format Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-mock-server:
  name: Lint Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Analyze Flutter code
  entry: bash -c 'melos analyze --fatal-infos'
  language: system
  pass_filenames: false

flutter-format:
  name: Format Flutter code
  entry: bash -c 'melos run format:exclude'
  language: system
  pass_filenames: false

fix(l10n): translated using Weblate (Spanish)
  flutter/apps/prompting_client_ui/lib/l10n/app_es.arb
Due: none

fix(l10n): translated using Weblate (Finnish)
  flutter/apps/prompting_client_ui/lib/l10n/app_fi.arb
Due: none

fix(l10n): translated using Weblate (Turkish)
  flutter/apps/prompting_client_ui/lib/l10n/app_tr.arb
Due: none

fix(l10n): translated using Weblate (Chinese (Traditional Han script))
  flutter/apps/prompting_client_ui/lib/l10n/app_zh_TW.arb
Due: none

fix(l10n): translated using Weblate (Estonian)
  flutter/apps/prompting_client_ui/lib/l10n/app_et.arb
Due: none

fix(l10n): translated using Weblate (Georgian)
  flutter/apps/prompting_client_ui/lib/l10n/app_ka.arb
Due: none

fix(l10n): added translation using Weblate (English (United Kingdom))
  flutter/apps/prompting_client_ui/lib/l10n/app_en_GB.arb
Due: none

fix(l10n): translated using Weblate (Ukrainian)
  flutter/apps/prompting_client_ui/lib/l10n/app_uk.arb
Due: none

fix(l10n): translated using Weblate (Indonesian)
  flutter/apps/prompting_client_ui/lib/l10n/app_id.arb
Due: none

fix(l10n): translated using Weblate (Catalan)
  flutter/apps/prompting_client_ui/lib/l10n/app_ca.arb
Due: none

fix(l10n): translated using Weblate (French)
  flutter/apps/prompting_client_ui/lib/l10n/app_fr.arb
Due: none

fix(l10n): translated using Weblate (English (United Kingdom))
  flutter/apps/prompting_client_ui/lib/l10n/app_en_GB.arb
Due: none

fix(l10n): translated using Weblate (Chinese (Simplified Han script))
  flutter/apps/prompting_client_ui/lib/l10n/app_zh.arb
Due: none

fix(l10n): translated using Weblate (Dutch)
  flutter/apps/prompting_client_ui/lib/l10n/app_nl.arb
Due: none

feat: add onChildWidthChanged callback to AdaptiveButtonBar for dynamic width reporting
  flutter/apps/prompting_client_ui/lib/widgets/adaptive_button_bar.dart
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: update comments for clarity on menu width handling in DeviceActionButtons
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
Due: flutter-analyze, flutter-format

ci: added translations and weblate workflow
  .github/.wlreviser-bot.yaml
  .github/workflows/weblate-l10n.yaml
  .github/workflows/wlreviser-bot.yaml
Due: none

ci: updated gh actions, reused common flutter and melos setup
  .github/workflows/code-checks.yaml
  .github/workflows/flutter.yaml
  .github/workflows/publish-integration-tests.yaml
  .github/workflows/tics.yaml
Due: none

chore(deps): bump yaru to 10.2.0 for YaruSplitButton expanded option
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/widgets/iterable_extensions.dart
  flutter/apps/prompting_client_ui/lib/widgets/tile_list.dart
  flutter/apps/prompting_client_ui/pubspec.lock
  flutter/apps/prompting_client_ui/pubspec.yaml
Due: flutter-analyze, flutter-format

fix: expand action buttons to full prompt width
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: lay action buttons side by side when they fit, and size the window to them
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
  flutter/apps/prompting_client_ui/lib/widgets/adaptive_button_bar.dart
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/linux/my_application.cc
  flutter/apps/prompting_client_ui/pubspec.lock
  flutter/apps/prompting_client_ui/pubspec.yaml
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

test: cover the adaptive button bar and the off-screen measurement
  flutter/apps/prompting_client_ui/test/adaptive_button_bar_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: open each dropdown menu under the arrow that opens it
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: drop custom split-button menu placement and size window by interface
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/linux/my_application.cc
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: remove text overflow handling from selected summary display
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
Due: flutter-analyze, flutter-format

fix: improve layout handling for buttons and content width in various components
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
Due: flutter-analyze, flutter-format

maint: commit pubspec.lock files
  .gitignore
  flutter/packages/prompting_client/pubspec.lock
  pubspec.lock
Due: none

ci: updated gh actions, reused common flutter and melos setup
  .github/workflows/code-checks.yaml
  .github/workflows/flutter.yaml
  .github/workflows/publish-integration-tests.yaml
  .github/workflows/tics.yaml
  scripts/check-outdated-files.sh
Due: none

fix: removed duplicate entries from language files
  flutter/apps/prompting_client_ui/lib/l10n/app_en.arb
Due: none

fix: removed duplicate entries from language files (#342)
  flutter/apps/prompting_client_ui/lib/l10n/app_en.arb
Due: none

feat: socket logging printing incorrectly (#277)
  prompting-client/src/snapd_client/mod.rs
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix(l10n): translated using Weblate (Tamil)
  flutter/apps/prompting_client_ui/lib/l10n/app_ta.arb
Due: none

fix(l10n): translated using Weblate (Greek)
  flutter/apps/prompting_client_ui/lib/l10n/app_el.arb
Due: none

Path conditions:
  rust-fmt-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-clippy-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-fmt-mock-server: any of: ^mock-server/.*\.rs$
  rust-clippy-mock-server: any of: ^mock-server/.*\.rs$
  flutter-analyze: any of: ^flutter/.*\.dart$
  flutter-format: any of: ^flutter/.*\.dart$
