Repository canonical/prompting-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-prompting-client, rust-clippy-prompting-client, rust-fmt-mock-server, rust-clippy-mock-server, flutter-analyze, flutter-format

rust-fmt-prompting-client:
  name: Format Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-prompting-client:
  name: Lint Rust code (prompting-client)
  entry: bash -c 'cd prompting-client && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-mock-server:
  name: Format Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy-mock-server:
  name: Lint Rust code (mock-server)
  entry: bash -c 'cd mock-server && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Analyze Flutter code
  entry: bash -c 'melos analyze --fatal-infos'
  language: system
  pass_filenames: false

flutter-format:
  name: Format Flutter code
  entry: bash -c 'melos run format:exclude'
  language: system
  pass_filenames: false

fix(l10n): translated using Weblate (Slovak)
  flutter/apps/prompting_client_ui/lib/l10n/app_sk.arb
Due: none

fix(l10n): translated using Weblate (Esperanto)
  flutter/apps/prompting_client_ui/lib/l10n/app_eo.arb
Due: none

fix(l10n): translated using Weblate (Lithuanian)
  flutter/apps/prompting_client_ui/lib/l10n/app_lt.arb
Due: none

fix(l10n): translated using Weblate (Uyghur)
  flutter/apps/prompting_client_ui/lib/l10n/app_ug.arb
Due: none

fix(l10n): translated using Weblate (Swedish)
  flutter/apps/prompting_client_ui/lib/l10n/app_sv.arb
Due: none

fix(l10n): translated using Weblate (Russian)
  flutter/apps/prompting_client_ui/lib/l10n/app_ru.arb
Due: none

fix(l10n): translated using Weblate (Galician)
  flutter/apps/prompting_client_ui/lib/l10n/app_gl.arb
Due: none

fix(l10n): translated using Weblate (Hungarian)
  flutter/apps/prompting_client_ui/lib/l10n/app_hu.arb
Due: none

fix(l10n): translated using Weblate (Georgian)
  flutter/apps/prompting_client_ui/lib/l10n/app_ka.arb
Due: none

fix(l10n): translated using Weblate (Greek)
  flutter/apps/prompting_client_ui/lib/l10n/app_el.arb
Due: none

fix(l10n): translated using Weblate (Japanese)
  flutter/apps/prompting_client_ui/lib/l10n/app_ja.arb
Due: none

fix(l10n): translated using Weblate (Basque)
  flutter/apps/prompting_client_ui/lib/l10n/app_eu.arb
Due: none

fix(l10n): translated using Weblate (Finnish)
  flutter/apps/prompting_client_ui/lib/l10n/app_fi.arb
Due: none

fix(l10n): translated using Weblate (Lao)
  flutter/apps/prompting_client_ui/lib/l10n/app_lo.arb
Due: none

fix(l10n): translated using Weblate (Spanish)
  flutter/apps/prompting_client_ui/lib/l10n/app_es.arb
Due: none

fix(l10n): translated using Weblate (Turkish)
  flutter/apps/prompting_client_ui/lib/l10n/app_tr.arb
Due: none

fix(l10n): translated using Weblate (Chinese (Traditional Han script))
  flutter/apps/prompting_client_ui/lib/l10n/app_zh_TW.arb
Due: none

fix(l10n): translated using Weblate (Estonian)
  flutter/apps/prompting_client_ui/lib/l10n/app_et.arb
Due: none

fix(l10n): translated using Weblate (Ukrainian)
  flutter/apps/prompting_client_ui/lib/l10n/app_uk.arb
Due: none

fix(l10n): added translation using Weblate (English (United Kingdom))
  flutter/apps/prompting_client_ui/lib/l10n/app_en_GB.arb
Due: none

fix(l10n): translated using Weblate (Indonesian)
  flutter/apps/prompting_client_ui/lib/l10n/app_id.arb
Due: none

fix(l10n): translated using Weblate (French)
  flutter/apps/prompting_client_ui/lib/l10n/app_fr.arb
Due: none

fix(l10n): translated using Weblate (Catalan)
  flutter/apps/prompting_client_ui/lib/l10n/app_ca.arb
Due: none

fix(l10n): translated using Weblate (English (United Kingdom))
  flutter/apps/prompting_client_ui/lib/l10n/app_en_GB.arb
Due: none

fix(l10n): translated using Weblate (Chinese (Simplified Han script))
  flutter/apps/prompting_client_ui/lib/l10n/app_zh.arb
Due: none

fix(l10n): translated using Weblate (Dutch)
  flutter/apps/prompting_client_ui/lib/l10n/app_nl.arb
Due: none

application: Use a transparent background as view bg color
  flutter/apps/prompting_client_ui/linux/my_application.cc
Due: none

fix: lay action buttons side by side when they fit, and size the window to them
  flutter/apps/prompting_client_ui/lib/main.dart
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/theme.dart
  flutter/apps/prompting_client_ui/lib/widgets/adaptive_button_bar.dart
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/linux/my_application.cc
  flutter/apps/prompting_client_ui/pubspec.lock
  flutter/apps/prompting_client_ui/pubspec.yaml
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

test: cover the adaptive button bar and the off-screen measurement
  flutter/apps/prompting_client_ui/test/adaptive_button_bar_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
Due: flutter-analyze, flutter-format

fix: open each dropdown menu under the arrow that opens it
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: restore CI on current toolchains
  .github/actions/setup-fvm/action.yaml
  .github/workflows/code-checks.yaml
  .github/workflows/flutter.yaml
  .github/workflows/publish-integration-tests.yaml
  .github/workflows/rust.yml
  .github/workflows/snap.yaml
  .github/workflows/tics.yaml
  mock-server/Cargo.lock
  prompting-client/Cargo.lock
  prompting-client/Cargo.toml
  prompting-client/src/daemon/poll.rs
  prompting-client/src/daemon/worker.rs
  scripts/fvm/install.sh
  testing-snap/scripts/camera.sh
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

fix: drop custom split-button menu placement and size window by interface
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/linux/my_application.cc
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
Due: flutter-analyze, flutter-format

fix: remove text overflow handling from selected summary display
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
Due: flutter-analyze, flutter-format

fix: improve layout handling for buttons and content width in various components
  flutter/apps/prompting_client_ui/lib/pages/prompt_page.dart
  flutter/apps/prompting_client_ui/lib/widgets/device_action_buttons.dart
  flutter/apps/prompting_client_ui/lib/widgets/home_permissions.dart
  flutter/apps/prompting_client_ui/test/device_action_buttons_test.dart
  flutter/apps/prompting_client_ui/test/prompt_page_test.dart
Due: flutter-analyze, flutter-format

ci: fix snapcraft and rust issues
  prompting-client/src/daemon/worker.rs
  snap/snapcraft.yaml
Due: rust-fmt-prompting-client, rust-clippy-prompting-client

Path conditions:
  rust-fmt-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-clippy-prompting-client: any of: ^prompting-client/.*\.rs$
  rust-fmt-mock-server: any of: ^mock-server/.*\.rs$
  rust-clippy-mock-server: any of: ^mock-server/.*\.rs$
  flutter-analyze: any of: ^flutter/.*\.dart$
  flutter-format: any of: ^flutter/.*\.dart$
